/* style.css */

/* Títulos y fuentes */
h1, h2, h3 {
    color: #2d2e83 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Contenedor de Tarjetas Métricas */
.metric-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #b2b2b2;
    border-top: 5px solid #2d2e83;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05);
    text-align: center;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.metric-label {
    font-size: 13px;
    color: #2d2e83;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}

.metric-value {
    font-size: 26px;
    font-weight: bold;
    color: #2d2e83;
}

.metric-subtext {
    font-size: 14px;
    color: #b2b2b2;
    font-weight: 400;
}




